body{
	text-align: center;
}
#principal{
	display: block;
	width: 400px;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	border: 29px solid transparent;
	-webkit-border-image: url("diamonds.png") 35% repeat;
}
#titulo{
	font: bold 40px lucida console,sans-serif;
	text-shadow: rgba(62, 209, 89,1) 4px 4px 6px;
}